<?xml version="1.0" encoding="utf-8" ?>
<Tree>
  <TreeNode Text="系级管理员管理" SingleClickExpand="true">
    <TreeNode Text="制作系级管理员名单" NavigateUrl="~/Pages/SecondManagement/MakeSecond.aspx">
    </TreeNode>
  </TreeNode>
  <TreeNode Text="被考评人管理" SingleClickExpand="true">
    <TreeNode Text="制作被考评人名单" NavigateUrl="~/Pages/EvaluatedManagement/MakeEvaluated.aspx" >
    </TreeNode>
  </TreeNode>
  <TreeNode Text="岗位责任书管理" SingleClickExpand="true">
    <TreeNode Text="制作岗位责任书" NavigateUrl="~/Pages/PostBookManagement/MakePostBook.aspx" >
    </TreeNode>
    <TreeNode Text="审核岗位责任书" NavigateUrl="~/Pages/PostBookManagement/CheckPostBook.aspx" >
    </TreeNode>
  </TreeNode>
  <TreeNode Text="考核表管理" SingleClickExpand="true">
    <TreeNode Text="制作考核表" NavigateUrl="~/Pages/EvaluateTableManagement/MakeEvaluateTable.aspx" >
    </TreeNode>
    <TreeNode Text="审核考核表" NavigateUrl="~/Pages/EvaluateTableManagement/CheckEvaluateTable.aspx" >
    </TreeNode>
  </TreeNode>
  <TreeNode Text="考评人管理" SingleClickExpand="true">
    <TreeNode Text="上传备选考评人名单" NavigateUrl="~/Pages/EvaluatorManagement/UploadSelectableEvaluator.aspx" >
    </TreeNode>
    <TreeNode Text="制作考评人名单" NavigateUrl="~/Pages/EvaluatorManagement/MakeEvaluator.aspx" >
    </TreeNode>
    <TreeNode Text="审核考评人名单" NavigateUrl="~/Pages/EvaluatorManagement/CheckEvaluator.aspx" >
    </TreeNode>
  </TreeNode>
  <TreeNode Text="考评管理" SingleClickExpand="true">
    <TreeNode Text="开始考评" NavigateUrl="~/Pages/EvaluationManagement/StartEvaluation.aspx" >
    </TreeNode>
    <TreeNode Text="结束考评" NavigateUrl="~/Pages/EvaluationManagement/StopEvaluation.aspx" >
    </TreeNode>
    <TreeNode Text="查询结果（按被考评人）" NavigateUrl="~/Pages/EvaluationManagement/EvaluationResultForIndividual.aspx" >
    </TreeNode>
    <TreeNode Text="查询结果（按部门）" NavigateUrl="~/Pages/EvaluationManagement/EvaluationResultForDepart.aspx" >
    </TreeNode>
    <TreeNode Text="考评" NavigateUrl="~/Pages/EvaluationManagement/Evaluate.aspx" >
    </TreeNode>
    <TreeNode Text="短信平台" NavigateUrl="~/Pages/EvaluationManagement/MessagePlatform.aspx" >
    </TreeNode>
  </TreeNode>
  <TreeNode Text="邮件系统" SingleClickExpand="true">
    <TreeNode Text="新邮件" NavigateUrl="~/Pages/MessageManagement/NewMessage.aspx" >
    </TreeNode>
    <TreeNode Text="发件箱" NavigateUrl="~/Pages/MessageManagement/Inbox.aspx" >
    </TreeNode>
    <TreeNode Text="收件箱" NavigateUrl="~/Pages/MessageManagement/Outbox.aspx" >
    </TreeNode>
  </TreeNode>
  <TreeNode Text="指标库管理" SingleClickExpand="true">
    <TreeNode Text="指标库维护" NavigateUrl="~/Pages/QuotaManagement/QuotaManagement.aspx" >
    </TreeNode>
  </TreeNode>
  <TreeNode Text="人事处帐号管理" SingleClickExpand="true">
    <TreeNode Text="人事处管理员密码重置" NavigateUrl="~/Pages/FirstManagement/ResetFirst.aspx" >
    </TreeNode>
  </TreeNode>
  <TreeNode Text="账户管理" SingleClickExpand="true">
    <TreeNode Text="更改密码" NavigateUrl="~/Pages/AccountManagement/ChangePassword.aspx" >
    </TreeNode>
  </TreeNode>
  <TreeNode Text="系统管理" SingleClickExpand="true">
    <TreeNode Text="系统初始化" NavigateUrl="~/Pages/SystemManagement/SystemInit.aspx" >
    </TreeNode>
  </TreeNode>
</Tree>