.content1
{
    position:relative;
    left:40px;
}

tr
{
    height:20px;
}

.td_left
{
    font-size:16px;
    height:20px;
}

.textbox1
{
    width:400px;
}

.textarea1
{
    width:800px;
    height:100px; 
}

.title1
{
    font-size:18px;
    font-weight:600;
    text-align:left;
}

.title2
{
    font-size:16px;
}

.title3
{
    font-size:17px;
    font-weight:600;
    text-align:left;
}